body{
    display:flex;
    height:100vh;
    padding:10px;
    justify-content:center;
    align-items:center;
    background-color: whitesmoke;
}

.container{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    max-width:700px;
    width:100%;
    padding:25px 30px;
}
.header{
    background:white;
    justify-content:center;
    align-items:center;
    padding:10px 200px;
}

 .header img{
    mix-blend-mode:multiply;
 }

.container form .inpt{
    display:grid;
    grid-template-columns:auto auto auto; 
    grid-gap:25px;
}
.container form .inpt .details{
 
   
}
.btn{
    content:"";
}

input{
    border: 1px solid rgb(230, 229, 229);
    border-radius: 5px;
    height: 35px;
    width: 100%;
}

.subm{
    display:flex;
    flex-direction:column;
    margin-top:10px;
    background-color: #4a04f0;
    color: rgb(255, 255, 255);
    padding: 1px 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
a{
    color:red;
}
a:hover{
    color:blue;
}
.subm:hover{
    background:rgb(71, 71, 218);
}